{% load static %}
<header class="header header-lk">
    <div class="container"> 
      <div class="header__inner">
        <a href="{% url 'offers' %}" class="header__logo">
          <img src="{% static 'img/logo-small.svg' %}" alt="">
          <div class="header__logo-text">цвет<span>рус</span></div>
        </a>
        <nav class="nav" title="" data-menu>
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="{% url 'products' %}" class="nav__link">предложения</a></li>
            <li class="nav__item"><a href="history-order.html" class="nav__link">заказы</a></li>
            <li class="nav__item"><a href="message.html" class="nav__link nav__link--active">сообщения</a></li>
            <li class="nav__item"><a href="{% url 'wallet' %}" class="nav__link">кошелёк </a></li>
          </ul>
        </nav>
        <label class="form__label header-lk__search">
          <input type="text" name="Имя" class="form__input header-lk__serch-input" placeholder="Поиск по сайту">
        </label>
        <a href="tel:" class="header-lk__phone"></a>
        <a href="lk-page.html" class="btn-reset header__login"></a>
        <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  
  </header>