{% extends 'include/base.html' %}
{% load static %}
{% block content %}
  <div class="site-container">

    {% include 'include/b_header.html' %}

    <div class="regform add">
  <div class="container">
    <div class="regform__inner add__inner">
      <h2 class="title add__title">Мой кошелёк</h2>
        <form method='POST' class="form add__form">
          {% csrf_token %}
          <div class="add__left">
            <input type="hidden" name="theme" value="Обратный звонок">
            <input type="hidden" name="admin_email[]" value="">
            <input type="hidden" name="form_subject" value="Заявка с сайта">
            <div class="add__form-title">Пополнение баланса</div>
              <label class="add__form-label">
                Введите сумму платежа
                {{form.amount}}
              </label>
              <div class="add__form-title">О покупателе</div>
              <label class="add__form-label">
                телефон
                {{form.phone}}
              </label>
          </div>
          <div class="add__right">
            <div class="add__right-balance">
              <div class="add__right-title">Баланс</div>
              <div class="add__right-vol">{{request.user.balance}} Р</div>
            </div>
            <button class="btn btn-reset add__btn">пополнить</button>
          </div>
        </form>

    </div>
    <div class="add__btns">
      <a href="history-bb.html" class="btn btn-reset add__button">история покупок</a>
      <a href="history-tb.html" class="btn btn-reset add__button">история транзакций</a>
    </div>
  </div>
</div>

<div class="graph-modal lk-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="message">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <img src="img/modal-close.svg" alt="">
    </button>
    <div class="graph-modal-content">
      <div class="lk-modal__title">Мои заказы</div>
      <div class="mymessage__cart-vol">Здравствуйте, как внести баланс на на сайт?</div>
      <label class="form__label">
        <textarea type="text" name="Имя" class="form__input lk-modal__textarea" placeholder="Ваше сообщение..."></textarea>

      </label>
      <button class="btn-reset lk-modal__send" aria-label="Отправить сообщение">
        <img src="{% static 'img/message-send.svg' %}" alt="">
      </button>
    </div>
  </div>

  <div class="graph-modal__container graph-modal__container--call" role="dialog" aria-modal="true" data-graph-target="call">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <img src="img/modal-close.svg" alt="">
    </button>
    <div class="graph-modal-content">
      <div class="lk-modal__title">Позвонить</div>
      <div class="call-modal__phone">{{settings.phone}}</div>
      <div class="call-modal__logo">ЦВЕТ<span>РУС</span></div>
      <a href="tel:+79999999999" class="call-modal__link">позвонить</a>
    </div>
  </div>
</div>
    <div class="ancor">
  <button class="btn btn-reset ancor__btn" data-graph-path="call">
    <img src="{% static 'img/ancor-phone.png' %}" alt="">
  </button>
  <button class="btn btn-reset ancor__btn" data-graph-path="message">
    <img src="{% static 'img/ancor-message.png' %}" alt="">
  </button>
</div>
  </div>
{% endblock %}