{% extends 'include/base.html' %}
{% load static %}
{% block content %}

<script defer src="{% static 'js/roma.js'  %}"></script>

<div class="site-container">

{% include 'include/b_header.html' %}

    <div class="offer-lk">
  <div class="container container-wide">
    <div class="offer-lk__wrapper">
      <div class="offer-lk__filter filter" style="height:1000px;">
        <h2 class="title offer-lk__title">Фильтры</h2>
        <div class="tabs"  data-tabs="filter-tab">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">плантация</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">тип</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">сорт</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">размер</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Цвета</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">


              <form>
                <label class="filter__search-label">
                  <button name='search_button' style="background:none; border:none;" type='submit' class="filter__search-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                  </button>
                    <input type="text" name="search-field" style='padding-left:3rem;' class="filter__search-input" placeholder="">
                </label>
              </form>
              





              <ul class="list-reset filter__list " data-simplebar >
                <li class="filter__item">
                <form><button class="filter_button" style="border: 0px; {% if 'all' in choices_|slice:'0:1' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}"
                  name='plantation_choice' value="plantation_all" >Все</button></form>
                </li>
                {% for plantation in plantations  %}
                <li class="filter__item">
                <form><button class="filter_button" style="border: 0px; border-radius:10px;{% if plantation.title in choices_|slice:'0:1' %}background-color:#02BC08;{% else %}background-color:#fff;{% endif %}"
                  name='plantation_choice' value="{{plantation.id}}" >{{plantation.title}}</button></form>
                </li>
                {% endfor %}
                

                <form>
                  <div style="margin-top:20px;" class="range-filter">
                    <div class="price-controls" style='display:flex;'>

                        от <input name='from_price' style='width:130px;border-radius:10px;margin-left:5px;' class="min-price" type="number" value='{{min_price  }}'>

                        <div style='margin-left:2px;'>

                          до <input name="to_price" style='width:130px;border-radius:10px;' class="max-price" type="number" value='{{max_price}}'>

                        </div>
                    </div>
                    <button name='price_sort' style="margin-top:25px; height:100px;cursor:pointer;" type="submit" class="btn btn-success">Сортировать по цене</button>
                </div>
                </form>
                



                
                
              </ul>
              
{% include 'p_components/choices.html' %}
            </div>
            <div class="tabs__panel">
              <label class="filter__search-label">
                <input type="text" name="компания" class="filter__search-input" placeholder="">
              </label>
              <ul class="list-reset filter__list" data-simplebar>   
                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px; {% if 'all' in choices_|slice:'1:2' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}"name='type_choice' value="type_all" >Все</button></form>
                  </li>
                {% for type in types  %}
                  <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px; {% if type in choices_|slice:'1:2' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='type_choice' value="{{type}}" >{{type}}</button></form>
                  </li>
                {% endfor %}
              </ul>
{% include 'p_components/choices.html' %}
            </div>
            <div class="tabs__panel">
              <label class="filter__search-label">
                <input type="text" name="компания" class="filter__search-input" placeholder="">
              </label>
              <ul class="list-reset filter__list" data-simplebar>
                

                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px;{% if 'all' in choices_|slice:'2:3' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='sort_choice' value="sort_all" >Все</button></form>
                </li>
                {% for sort in sorts %}
                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px;{% if sort.title in choices_|slice:'2:3' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='sort_choice' value="{{sort.id}}" >{{sort}}</button></form>
                </li>
                {% endfor %}

              </ul>
{% include 'p_components/choices.html' %}
            </div>
            <div class="tabs__panel">
              <label class="filter__search-label">
                <input type="text" name="компания" class="filter__search-input" placeholder="">
              </label>
              <ul class="list-reset filter__list" data-simplebar>
                
                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px;{% if 'all' in choices_|slice:'3:4' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='length_choice' value="length_all" >Все</button></form>
                  </li>
                {% for leng in length %} 
                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px; {% if leng in choices_|slice:'3:4' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='length_choice' value="{{leng}}" >{{leng}}</button></form>
                </li>
                {% endfor %}
              </ul>
            {% include 'p_components/choices.html' %}
            </div>
            <div class="tabs__panel">
              <label class="filter__search-label">
                <input type="text" name="компания" class="filter__search-input" placeholder="">
              </label>
              <ul class="list-reset filter__list" data-simplebar>
                
                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px; {% if 'all' in choices_|slice:'4:5' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='color_choice' value="color_all" >Все</button></form>
                </li>
                {% for color in colors %}
                <li class="filter__item">
                  <form><button class="filter_button" style="border: 0px;{% if color in choices_|slice:'4:5' %}background-color:#02BC08; border-radius:10px;{% else %}background-color:#fff;{% endif %}" name='color_choice' value="{{color}}" >{{color}}</button></form>
                </li>
                {% endfor %}

              </ul>
{% include 'p_components/choices.html' %}
            </div>
          </div>
        </div>
      </div>
      <div class="offer-lk__content">
        <h2 class="title offer-lk__title">Предложения</h2>
        <ul class="list-reset offer-lk__list" >

          
          {% for flower in flowers %}
            
          <li class="offer__item">
            <div class="offer-lk__item-image">
              <img src="{{flower.image.url}}" alt="...">
            </div>
            <div class="offer__item-content">
              <div class="offer__item-type">Тип:<span> {{flower.title}} </span></div>
              <div class="offer__item-sort">Сорт:<span> {{flower.sort}} </span></div>
              <div class="offer__item-length"> Длина стебля: <span> {{flower.length}} см </span></div>
              <div class="offer__item-place">Плантация:<span> {{flower.plantation}} </span></div>
              <div class="offer-lk__item-color">Цвет:<span> {{flower.color}} </span></div>
              <div class="offer-lk__item-price"> {{flower.price}} Р </div>
              <a href="{% url 'single_product' flower.id %}" class="btn btn-reset offer-lk__item-btn"></a>
            </div>
          </li>
          
          {% endfor %}

        </ul>
      </div>
    </div>
    <div style="width: 79%; margin-left: auto; margin-right: 10px; display: flex; justify-content: space-between; align-items: center;">
      {% if flowers.has_previous %}
      <a href="?page={{ flowers.previous_page_number }}" style="background: #02BC08; padding: 10px 2rem; color: white; border-radius: 15px;" >Предыдущий</a>
      {% endif %}
      <ul style="list-style: none; display: flex; align-items: center; gap: 1.5rem;">
      {% for i in num_pages %}  
      <a href='?page={{i}}'><li style="cursor: pointer;background: #02BC08;color: white;border-radius: 15px;padding: 3px 28px;">{{i}}</li></a>
      {% endfor %}
      </ul>
      {% if flowers.has_next %}
      <a href="?page={{ flowers.next_page_number }}" style="background: #02BC08; padding: 10px 2rem; color: white; border-radius: 15px;">Следущий</a>
      {% endif %}
    </div>

  </div>
</div>

{% include 'include/footer.html' %}

<div class="graph-modal lk-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="message">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <img src="{% static 'img/modal-close.svg' %}" alt="">
    </button>
    <div class="graph-modal-content">
      <div class="lk-modal__title">Мои заказы</div>
      <div class="mymessage__cart-vol">Здравствуйте, как внести баланс на на сайт?</div>
      <label class="form__label">
        <textarea type="text" name="Имя" class="form__input lk-modal__textarea" placeholder="Ваше сообщение..."></textarea>

      </label>
      <button class="btn-reset lk-modal__send" aria-label="Отправить сообщение">
        <img src="{% static 'img/message-send.svg' %}" alt="">
      </button>
    </div>
  </div>

  <div class="graph-modal__container graph-modal__container--call" role="dialog" aria-modal="true" data-graph-target="call">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <img src="{% static 'img/modal-close.svg' %}" alt="">
    </button>
    <div class="graph-modal-content">
      <div class="lk-modal__title">Позвонить</div>
      <div class="call-modal__phone">+7 999 999-99-99</div>
      <div class="call-modal__logo">ЦВЕТ<span>РУС</span></div>
      <a href="tel:+79999999999" class="call-modal__link">позвонить</a>
    </div>
  </div>
</div>
    <div class="ancor">
  <button class="btn btn-reset ancor__btn" data-graph-path="call">
    <img src="{% static 'img/ancor-phone.png' %}" alt="">
  </button>
  <button class="btn btn-reset ancor__btn" data-graph-path="message">
    <img src="{% static 'img/ancor-message.png' %}" alt="">
  </button>
</div>
  </div>



<script>


</script>




{% endblock %}