{% extends 'include/base.html' %}
{% load static %}
{% block content %}
  <div class="site-container">
{% include 'include/b_header.html' %}

    <div class="offer-lk single">
  <div class="container">
    <div class="offer-lk__wrapper">
      <div class="offer-lk__content single__content">
        <div class="single__image">
          <img src="{{flower.image.url}}" alt="">
        </div>
        <div class="single__right">
          <h2 class="title single__title">{{flower.title}} сорта {{flower.sort}}</h2>
          <div class="single__filter">
            <div class="single__filter-title">Размер</div>
            <ul class="list-reset single__filter-list">
                {% for i in length %}
                <li class="single__filter-item">
                  <label>
                    {% if flower.length == i %}
                    <p style='background-color:#02BC08;color:#fff;'>{{i}}</p>
                    {% else %}
                    <p>{{i}}</p>
                    {% endif %}
                  </label>
                </li>
                {% endfor %}
            </ul>
          </div>
          <div class="single__place">
            <div class="single__place-title">Плантация</div>
            <div class="single__place-name">{{flower.plantation}}</div>
          </div>
          <div class="single__color">
            <div class="single__color-title">Цвет</div>
            <div class="single__color-name">{{flower.color}}</div>
          </div>
          {% comment %} <div class="single__filter">
            <div class="single__filter-title">Есть в наличии</div>
            <ul class="list-reset single__filter-list">
              <li class="single__filter-item">
                <label >
                  <p style='font-size:55px;background-color:#02BC08; color:white;'>{{flower.isable_count}}</p> 
                </label>
              </li>

            </ul>
          </div> {% endcomment %}
          <div class="single__color">
            <div class="single__color-title">Есть в наличии</div>
            <div class="single__color-name">{{flower.isable_count}} штук</div>
          </div>






          <div style='margin-top:20px;' class="single__descr">
            {% if flower.description %}
            <div class="single__descr-title">Описание:</div>
            <div class="single__descr-text">{{flower.description}}</div>
            {% endif %}

          </div>
          <div class="single__price">{{flower.price}} Р</div>
          <button class="btn btn-reset single__btn">купить</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'include/footer.html' %}

<div class="graph-modal lk-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="message">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <img src="{% static 'img/modal-close.svg' %}" alt="">
    </button>
    <div class="graph-modal-content">
      <div class="lk-modal__title">Мои заказы</div>
      <div class="mymessage__cart-vol">Здравствуйте, как внести баланс на на сайт?</div>
      <label class="form__label">
        <textarea type="text" name="Имя" class="form__input lk-modal__textarea" placeholder="Ваше сообщение..."></textarea>

      </label>
      <button class="btn-reset lk-modal__send" aria-label="Отправить сообщение">
        <img src="{% static 'img/message-send.svg' %}" alt="">
      </button>
    </div>
  </div>

  <div class="graph-modal__container graph-modal__container--call" role="dialog" aria-modal="true" data-graph-target="call">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <img src="{% static 'img/modal-close.svg' %}" alt="">
    </button>
    <div class="graph-modal-content">
      <div class="lk-modal__title">Позвонить</div>
      <div class="call-modal__phone">+7 999 999-99-99</div>
      <div class="call-modal__logo">ЦВЕТ<span>РУС</span></div>
      <a href="tel:+79999999999" class="call-modal__link">позвонить</a>
    </div>
  </div>
</div>
    <div class="ancor">
  <button class="btn btn-reset ancor__btn" data-graph-path="call">
    <img src="{% static 'img/ancor-phone.png' %}" alt="">
  </button>
  <button class="btn btn-reset ancor__btn" data-graph-path="message">
    <img src="{% static 'img/ancor-message.png' %}" alt="">
  </button>
</div>
  </div>
{% endblock %}