{% extends 'include/base.html' %}
{% load static %}
{% block content %}

{% include 'include/header.html' %}


<div class="regform">
  <div class="container">
    <div class="regform__inner">


      <form method='POST'>
        {% csrf_token %}
      <h2 class="title regform__title">Войти</h2>
        <div class="regform-left">
          
          {% for f in form %}

          {{f.errors}}
          <label class="form__label">{{f}}</label>

          {% endfor %}

          <button class="btn btn-reset regform__btn">Войти</button>
        </div>

      </form>
    </div>
  </div>
</div>


{% include 'include/footer.html' %}
  </div>

{% endblock %}